[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "PubMedWordcloud"]
	path = PubMedWordcloud
	url = https://github.com/felixfan/pubmedwordcloud
	shallow = true
	registered = true
[submodule "FinCal"]
	path = FinCal
	url = https://github.com/felixfan/fincal
	shallow = true
	registered = true
